{"configSettings":[{"appID":"voiceSDK_en","serverToken":""},{"appID":"1727234757643392","serverToken":""},{"appID":"378845660994729","serverToken":""},{"appID":"463950519194166","serverToken":""},{"appID":"SharedServerToken","serverToken":"BRMR4UXTZQEQW6ZAYNGKINIOTRKSJZEN"},{"appID":"760741295847994","serverToken":"BRMR4UXTZQEQW6ZAYNGKINIOTRKSJZEN"}]}